.cal {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  padding: 6rem;
}
.master {
  /* padding: 1rem;
  height: auto;
  width: auto;
  background-color: rgba(225, 218, 222, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 4rem #000000;
  transition-duration: 1s;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center; */
}

.calculator {
  border: 2px solid #ccc;
  border-radius: 20px;
  width: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 218, 222, 0.4);
  transition: 1s;
}
.calculator:hover{
  box-shadow: 0 0 1.5rem white;
  transition: 0.5s;
}

.display {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin: 1rem;
  height: 15px;
 display: flex;
 align-items: center;
 background-color: #1a1a1a;
}
button {
  margin: 0.5rem;
}
.button-box{
  width: 100%;
  height: auto;
  background-color:#1a1a1aa9;
  border-radius: 20px;
}
